.modal {
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  line-height: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal__content_type_image {
  overflow: hidden;
  padding: 0;
}

.modal_opened {
  visibility: visible;
}

.modal__content {
  max-width: 496px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 12px;
  background-color: #fff;
  position: relative;
  padding-bottom: 28px 28px 36px;
}

.modal__title {
  margin: 0 0 24px 0;
  font-size: 16px;
  line-height: 20px;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
}

.modal__button-container {
  display: flex;
}

.modal__submit {
  color: #fff;
  background: #0000004D;
  border: none;
  border-radius: 4px;
  align-self: flex-start;
  padding: 8px 16px;
}

.modal__error-message {
  margin-top: 0;
  color: #FF4D00;
}

.modal__button {
  background: transparent;
  border: none
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__label {
  margin-bottom: 24px;
}

.modal__input {
  width: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid #000;
}

.modal__radio-buttons {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
}

.modal__legend {
  margin-bottom: 12px;
}

.modal__label_type_radio {
  margin-bottom: 8px;
}