.toggle-switch {
  width: 56px;
  height: 28px;
  border: 2px solid black;
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.toggle-switch__checkbox {
  opacity: 0;
}
.toggle-switch__checkbox:checked ~ .toggle-switch__circle {
  left: 28px;
}

.toggle-switch__circle {
  background-color: black;
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  left: 0;
  transition: all 0.4s;
}

.toggle-switch__text {
  font-size: 14px;
  line-height: 14px;
  opacity: 50%;
  position: absolute;
  top: 7px;
}

.toggle-switch__text_F {
  left: 9px;

}

.toggle-switch__text_C {
  right: 9px;
}

.toggle-switch__text_color_white {
  color:#fff;
  opacity: 100%;
}