.modal__content_type_image {
  overflow: hidden;
  padding: 0;
}

.modal__image {
  display: block;
}

.modal__footer {
  margin: 20px 32px 32px;
}

.modal__caption {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 24px;
}

.modal__weather {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}